@page "/Login"
@model LoginModel

@{
    ViewData["Title"] = "ورود";
    Layout = "/Pages/Shared/_LogLayout.cshtml";
}

<div class="card-content">
    <div class="card-body login-img">
        <div class="row m-0">
            <div class="col-lg-6 d-lg-block d-none py-2 text-center align-middle">
                <img src="/app-assets/img/hospital2.png" alt="" class="img-fluid mt-5" width="400" height="230">
            </div>
            <div class="col-lg-6 col-md-12 bg-white px-4 pt-3">
                <h4 class="mb-2 card-title"> ورود </h4>
                <p class="card-text mb-3">
                    خوش امدید. برای ورود اطلاعتتان را وارد کنید.
                </p>
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Input.Phone" type="text" class="form-control mb-3" placeholder=" شماره همراه " />
                    <input asp-for="Input.Password" type="password" class="form-control mb-1" placeholder=" رمز عبور " />
                    <div class="d-flex justify-content-between mt-2">
                        <div class="remember-me">
                            <div class="custom-control custom-checkbox custom-control-inline mb-3">
                                <input type="checkbox" asp-for="Input.RememberMe" class="custom-control-input" />
                                <label asp-for="Input.RememberMe" class="custom-control-label">
                                    مرا به خاطر بسپار
                                </label>
                            </div>
                        </div>
                        <div class="forgot-password-option">
                            <a asp-page="./ForgotPassword" class="text-decoration-none text-primary"> رمز عبورتان را فراموش کردید؟ </a>
                        </div>
                    </div>
                    <div class="fg-actions d-flex justify-content-between">
                        <div class="login-btn">
                            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-outline-primary">
                                 حساب ندارید؟ ثبت نام کنید 
                            </a>
                        </div>
                        <div class="recover-pass">
                            <button type="submit" class="btn btn-primary">
                                ورود
                            </button>
                        </div>
                    </div>
                </form>
                <hr class="m-0">
                <div class="d-flex justify-content-between mt-3">
                    <div class="option-login">
                        <a href="#"><h6 class="text-decoration-none text-primary"> ورود با تلفن همراه </h6></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
